@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    background-image: url("img/fur.jpg");
    font-family: 'Merriweather', sans-serif;
}
#silas {
    width: 100%;
}
#main {
    background-color: #d1d1d1;
    padding: 4vw;
}
.fill {
    min-height: 100vh;
    height: 100%;
}